<h1>Goals!</h1>
<!--
<div *ngIf="loggedIn">
  <p>Username: {{loggedIn.username}}</p>
  <p>Number of Active Goals: {{goals.length}}</p>
  <div *ngFor="let squad of squads | active |squadUser:loggedIn">
    <p>Squad {{squad.id}}: {{squad.name}}</p>
    <table>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Description</th>
          <th>Completed</th>
          <th>End Date</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goal of squad.goals | activeGoals | goalUser:loggedIn">
          <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.title}}</td>
          <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.description}}</td>
          <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.completed}}</td>
          <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.endDate}}</td>
          <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.creator}}</td>
          <td *ngIf="loggedIn.role ==='admin'"><button (click)="delete(goal.id)" style="background-color:red; color: white">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<table mat-table
       [dataSource]="squads | active" multiTemplateDataRows
       class="mat-elevation-z8"  >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Squad </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="leader">
    <th mat-header-cell *matHeaderCellDef> Leader </th>
    <td mat-cell *matCellDef="let element"> {{element.leader!.username}} </td>
  </ng-container>
  <ng-container matColumnDef="numActiveGoals">
    <th mat-header-cell *matHeaderCellDef> Active Goals </th>
    <td mat-cell *matCellDef="let element"> {{(element.goals | activeGoals).length}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
      <div>
        <table class="border-top" style="text-align: center">
          <thead>
            <tr>
              <th>Goal</th>
              <th>Description</th>
              <th>Completed</th>
              <th>Due Date</th>
              <th>Creator</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let goal of element.goals | activeGoals | goalUser:loggedIn">
              <td class="px-3">{{goal.title}}</td>
              <td class="px-3">{{goal.description}}</td>
              <td class="px-3">{{goal.completed}}</td>
              <td class="px-3">{{goal.endDate}}</td>
              <td class="px-3">{{goal.creator.username}}</td>
              <td><mat-icon (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = element.id">edit</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
class="example-element-row"
[class.example-expanded-row]="expandedElement === element"
(click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


<div>
  <form #createGoalForm="ngForm" *ngIf="addGoal">
    <label>Squad: </label>
     <select name="squad" id="squad" [(ngModel)]="squadId">
       <option *ngFor="let squad of squads | active" [value]="squad.id">{{squad.name}}</option>
     </select><br>
     <label>Title: </label>
     <input type="text" name="title" ngModel><br>
     <label>Description: </label>
     <textarea rows="2" cols="40" name="description" ngModel></textarea><br>
     <label>End Date: </label>
     <input type="datetime" name="endDate" ngModel><br>
     <button (click)="createGoal(createGoalForm, squadId); addGoal = false;">Submit</button>
   </form>


  <form *ngIf="!addGoal && !updateGoal && squads.length > 0">
    <button (click)="addGoal = true">Add Goal</button>
  </form>
</div>

<div>
  <form *ngIf="updateGoal">
   <label>Squad: </label>
    <select name="squad" id="squad" [(ngModel)]="squadId">
      <option *ngFor="let squad of goalToUpdate.squads | active" [attr.selected]="squad.id == squadToEditId ? true : null">{{squad.name}}</option>
    </select><br>
    <label>Title: </label>
    <input type="text" name="title" [(ngModel)]="goalToUpdate.title"><br>
    <label>Description: </label>
    <textarea rows="2" cols="40" name="description" [(ngModel)]="goalToUpdate.description"></textarea><br>
    <label for="completed">Completed: </label><br>
    <input type="checkbox" id="completed" name="completed" [(ngModel)]="goalToUpdate.completed"/>
    <label>End Date: </label>
    <input type="datetime" name="endDate" [(ngModel)]="goalToUpdate.endDate"><br>
    <button (click)="doUpdateGoal(goalToUpdate); updateGoal = false;">Submit</button>
  </form>
</div>




