.cancel {
  border-style: solid;
  border-color: lightgrey;
}

.cancel:hover {
  background-color: lightgrey;
}

.delete {
  background-color: rgb(255, 71, 71);
  color:white;
}

.delete:hover {
  background-color: red;
  color: white;
}

.save {
  background-color: rgb(63, 205, 248);
  color: white;
}

.save:hover {
  background-color: blue;
  color: white;
}
