<h1>Goals!</h1>

<div *ngIf="loggedIn">
  <p>Username: {{loggedIn.username}}</p>
  <p>Number of Active Goals: {{loggedIn.goals.length}}</p>
  <div *ngFor="let squad of squads">
    <p>Squad {{squad.id}}: {{squad.name}}</p>
    <table>
      <thead>
        <tr>
          <th>Goal</th>
          <th>Description</th>
          <th>Completed</th>
          <th>End Date</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goal of squad.goals">
          <td>{{goal.title}}</td>
          <td>{{goal.description}}</td>
          <td>{{goal.completed}}</td>
          <td>{{goal.endDate}}</td>
          <td>{{goal.creator}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <form *ngIf="addGoal">
   <label>Squad: </label>
    <select name="squad" id="squad" [(ngModel)]="squadName">
      <option  *ngFor="let squad of squads">{{squad.name}}</option>
    </select><br>
    <label>Title: </label>
    <input type="text" name="title" [(ngModel)]="newGoal.title"><br>
    <label>Description: </label>
    <textarea rows="2" cols="40" name="description" [(ngModel)]="newGoal.description"></textarea><br>
    <label>End Date: </label>
    <input type="datetime" name="endDate" [(ngModel)]="newGoal.endDate"><br>
    <button (click)="createGoal(newGoal); addGoal = false;">Submit</button>
  </form>


  <form *ngIf="!addGoal && squads.length > 0">
    <button (click)="addGoal = true">Add Goal</button>
  </form>
</div>

{{newGoal | json}}



