<div >
  <table *ngIf="loggedIn">
<tr><td>{{loggedIn.id}}</td></tr>
<tr><td>{{loggedIn.username}}</td></tr>
<tr><td>{{loggedIn.password}}</td></tr>
<tr><td>{{loggedIn.firstName}}</td></tr>
<tr><td>{{loggedIn.lastName}}</td></tr>
<tr><td>{{loggedIn.bio}}</td></tr>
  </table>
</div>
  <table class="table table-striped table-hover">
    <thead>
      <th>Name </th>
      <th>Leader </th>
      <th>Members </th>
    </thead>
  <tbody *ngFor="let squad of squads|active">
<tr><td (>{{squad.name}}</td><td>{{squad.leader!.username}}</td><td>{{squad.users.length}}</td></tr>
</tbody>
  <button (click)="deleteUser(loggedIn.id)">Delete Account</button>
  <!-- <table *ngFor="let goal of goals">
  <tr><td>{{goal.active}}</td></tr>
  <tr><td>{{goal.completed}}</td></tr>
  <tr><td>{{goal.creator}}</td></tr>
  <tr><td>{{goal.description}}</td></tr>
  <tr><td>{{goal.endDate}}</td></tr>

</table> -->
<form >
  <br>
  <input type="hidden" name="id" [(ngModel)]="loggedIn.id">
  <label>First Name:</label>
  <input type="text" name="firstName" [(ngModel)]="updatedUser.firstName">
  <br>
  <label>Last Name:</label>
  <input type="text" name="lastName" value="{{loggedIn.lastName}}" [(ngModel)]="updatedUser.lastName">
  <br>
  <label>Email:</label>
  <input type="text" name="lastName" value="{{loggedIn.email}}" [(ngModel)]="updatedUser.email">
  <br>
  <label>Bio:</label>
  <input type="text" name="bio" [(ngModel)]="updatedUser.bio">
  <br>

  <button class="btn btn-success" (click)="updateUser(updatedUser,loggedIn.id)">Submit</button>
  <!-- <button class="btn btn-primary" (click)="displayTable()">Back</button> -->


</form>
