<div>
  <form>
    <label>Title: </label>
    <input type="text" name="title" [(ngModel)]="goalToUpdate.title"><br>
    <label>Description: </label>
    <textarea rows="2" cols="40" name="description" [(ngModel)]="goalToUpdate.description"></textarea><br>
    <label for="completed">Completed: </label><br>
    <input type="checkbox" id="completed" name="completed" [(ngModel)]="goalToUpdate.completed"/>
    <label>End Date: </label>
    <input type="datetime" name="endDate" [(ngModel)]="goalToUpdate.endDate"><br>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Edit</button>
  </form>
</div>
