<div class="w-100"><h1 class="m-2 mt-4" style="display: inline-block;">My Squads</h1>
  <button mat-icon-button *ngIf="squads.length > 0" aria-label="Add goal" (click)="openAddDialog('1000ms', '500ms')">
    <mat-icon class="plain" style="float: right">add_circle</mat-icon>
  </button>
  </div>
  <!--
  <div *ngIf="loggedIn">
    <p>Username: {{loggedIn.username}}</p>
    <p>Number of Active Goals: {{goals.length}}</p>
    <div *ngFor="let squad of squads | active |squadUser:loggedIn">
      <p>Squad {{squad.id}}: {{squad.name}}</p>
      <table>
        <thead>
          <tr>
            <th>Goal</th>
            <th>Description</th>
            <th>Completed</th>
            <th>End Date</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let goal of squad.goals | activeGoals | goalUser:loggedIn">
            <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.title}}</td>
            <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.description}}</td>
            <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.completed}}</td>
            <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.endDate}}</td>
            <td (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = squad.id">{{goal.creator}}</td>
            <td *ngIf="loggedIn.role ==='admin'"><button (click)="delete(goal.id)" style="background-color:red; color: white">X</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <div class="m-2 p-3 w-100" style="background-color:white;">
    <!-- <p>Admin: {{loggedIn.username}}</p> -->

    <div class="mat-elevation-z8" >
    <table class="w-100" #squadTable mat-table [dataSource]="squads | active" matSort multiTemplateDataRows>

      <!-- Squad Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Squad </th>
        <td mat-cell *matCellDef="let squad"> {{squad.name}} </td>
      </ng-container>

      <!-- Leader Column -->
      <ng-container matColumnDef="leaderName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Leader </th>
        <td mat-cell *matCellDef="let squad"> {{squad.leaderName}} </td>
      </ng-container>

      <!-- Number of Members Column -->
      <ng-container matColumnDef="numMembers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Members </th>
        <td mat-cell *matCellDef="let squad">
          <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger aria-label="Members">
            <mat-icon [matBadge]="squad.numMembers" matBadgeColor="accent">account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button class="w-100" mat-menu-item *ngFor="let member of squad.users">
              <img class="rounded-circle me-2" [src]="member.profilePic.url" height="30rem" width="30rem" [routerLink]="['/user/' + member.username + '/' + squad.id + '/mysquads']"/>
              <span [routerLink]="['/user/' + member.username + '/' + squad.id + '/mysquads']">{{ member.username }}</span>
              <!-- <button mat-icon-button (click)="removeMember(member.username)">
                <mat-icon style="color: red">remove_circle_outline</mat-icon>
              </button> -->
            </button>
            <button mat-menu-item [matMenuTriggerFor]="addMenu">
              <mat-icon class="me-2">person_add</mat-icon>
              <span>Add Member</span>
            </button>
          </mat-menu>
          <mat-menu #addMenu="matMenu">
            <div (click) = "$event.stopPropagation()">
            <mat-form-field appearance="fill">
              <!-- <mat-label>Add member</mat-label>
              <input matInput placeholder="Enter username" [(ngModel)]="userName"> -->
              <mat-label>Add member</mat-label>
              <input type="text"
                     placeholder="Username"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto"
                     [(ngModel)]="userName">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <button mat-icon-button matSuffix (click)="selectedSquad = squad; addMember(userName)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>
          </mat-menu>
        </td>
      </ng-container>`

       <!-- Actions Column -->
       <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let squad">
          <!-- <mat-icon [matMenuTriggerFor]="menu" #menuTrigger>more_vert</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-icon-button aria-label="Edit goal" (click)="openEditDialog('1000ms', '500ms', goal)"><mat-icon>edit</mat-icon> Edit </button><br />
              <button mat-icon-button aria-label="Delete goal" (click)="openDeleteDialog('1000ms', '500ms', goal)"><mat-icon>delete</mat-icon> Delete </button>
            </mat-menu> -->
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger aria-label="Squad actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item aria-label="Edit squad" (click)="openEditSquadDialog('1000ms', '500ms', squad)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item aria-label="Delete squad" (click)="openDeleteSquadDialog('1000ms', '500ms', squad)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let squad">
          <button mat-icon-button aria-label="expand row" (click)="(expandedSquad = expandedSquad === squad ? null : squad); $event.stopPropagation()">
            <mat-icon *ngIf="expandedSquad !== squad">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedSquad === squad">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let squad" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-squad-detail"
      [@detailExpand]="squad == expandedSquad ? 'expanded' : 'collapsed'">
      <div>
        <div class="example-element-diagram">
          <img class="rounded-circle" src="https://www.hisevilness.com/images/SQUAD_logo.png" height="60px" width="60px"/>
        </div>
        <div class="example-element-description">
          {{squad.bio}}
        </div>
      </div>
    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
<tr mat-row *matRowDef="let squad; columns: columnsToDisplayWithExpand;"
class="example-squad-row"
[class.example-expanded-row]="expandedSquad === squad"
(click)="expandedSquad = expandedSquad === squad ? null : squad">
</tr>

<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
  </div>

<!-- Table displaying all Squads
<div *ngIf="!selectedSquad && !addSquad && !addmember">
   <table class="table table-striped table-hover">
    <thead>
      <th>Name </th>
      <th>Leader </th>
      <th>Members </th>
    </thead>
  <tbody *ngFor="let squad of squads |active| squadUser:loggedIn">
<tr (click)="selectedSquad = squad"><td>{{squad.name}}</td>
  <td>{{squad.leader!.username}}</td>
  <td>{{squad.users.length}}</td></tr>
</tbody>
  </table> -->

  <!-- <table mat-table
       [dataSource]="squads | active" multiTemplateDataRows
       class="mat-elevation-z8"  >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Squad </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="leader">
    <th mat-header-cell *matHeaderCellDef> Leader </th>
    <td mat-cell *matCellDef="let element"> {{element.leader!.username}} </td>
  </ng-container>
  <ng-container matColumnDef="numActiveGoals">
    <th mat-header-cell *matHeaderCellDef> Active Goals </th>
    <td mat-cell *matCellDef="let element"> {{(element.goals | activeGoals).length}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

   Expanded Content Column - The detail row is made up of this one column that spans across all columns
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
      <div>
        <table class="border-top" style="text-align: center">
          <thead>
            <tr>
              <th>Goal</th>
              <th>Description</th>
              <th>Completed</th>
              <th>Due Date</th>
              <th>Creator</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let goal of element.goals | activeGoals | goalUser:loggedIn">
              <td class="px-3">{{goal.title}}</td>
              <td class="px-3">{{goal.description}}</td>
              <td class="px-3">{{goal.completed}}</td>
              <td class="px-3">{{goal.endDate}}</td>
              <td class="px-3">{{goal.creator.username}}</td>
              <td><mat-icon (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = element.id">edit</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
class="example-element-row"
[class.example-expanded-row]="expandedElement === element"
(click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table> -->



<!-- <table mat-table
     [dataSource]="squads | active" multiTemplateDataRows
     class="mat-elevation-z8"  >
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Squad </th>
  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>
<ng-container matColumnDef="leader">
  <th mat-header-cell *matHeaderCellDef> Leader </th>
  <td mat-cell *matCellDef="let element"> {{element.leader!.username}} </td>
</ng-container>
<ng-container matColumnDef="numActiveGoals">
  <th mat-header-cell *matHeaderCellDef> Active Goals </th>
  <td mat-cell *matCellDef="let element"> {{(element.goals | activeGoals).length}} </td>
</ng-container>
<ng-container matColumnDef="expand">
  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
    </button>
  </td>
</ng-container> -->




<!-- update Squad Form -->
<div *ngIf="selectedSquad && editSquad">
  <form #updateSquadForm="ngForm">
    <br>
    <input type="hidden" name="id" [(ngModel)]="selectedSquad.id" ngModel>
    <label>Squad Name:</label>
    <input type="text" name="name" [(ngModel)]="selectedSquad.name" ngModel>
    <br>
    <label>Squad Bio:</label>
    <input type="text" name="bio" [(ngModel)]="selectedSquad.bio" ngModel>
    <br>

    <button class="btn btn-success" (click)="updateSquad(updateSquadForm, selectedSquad.id)">Submit</button>
    <button class="btn btn-primary" (click)="displayTable()">Back</button>


  </form>
</div>

<!-- Update Goal Form -->
<div>
  <form *ngIf="updateGoal">
    <label>Squad: </label>
    <select name="squad" id="squad" [(ngModel)]="squadToEditId">
      <option *ngFor="let squad of goalToUpdate.squads | active" [attr.selected]="squad.id == squadToEditId ? true : null">{{squad.name}}</option>
    </select><br>
    <label>Title: </label>
    <input type="text" name="title" [(ngModel)]="goalToUpdate.title"><br>
    <label>Description: </label>
    <textarea rows="2" cols="40" name="description" [(ngModel)]="goalToUpdate.description"></textarea><br>
    <label for="completed">Completed: </label><br>
    <input type="checkbox" id="completed" name="completed" [(ngModel)]="goalToUpdate.completed"/>
    <label>End Date: </label>
    <input type="datetime" name="endDate" [(ngModel)]="goalToUpdate.endDate"><br>
    <button (click)="doUpdateGoal(goalToUpdate); updateGoal = false;">Submit</button>
  </form>
</div>

<!-- {{squads | json}} -->
<!-- Member Profile -->
<div>

