<h1>Your Squads</h1>
<!-- Table displaying all Squads -->
<div *ngIf="!selectedSquad && !addSquad && !addmember">
   <table class="table table-striped table-hover">
    <thead>
      <th>Name </th>
      <th>Leader </th>
      <th>Members </th>
    </thead>
  <tbody *ngFor="let squad of squads |active| squadUser:loggedIn">
<tr (click)="selectedSquad = squad"><td>{{squad.name}}</td>
  <td>{{squad.leader!.username}}</td>
  <td>{{squad.users.length}}</td></tr>
</tbody>
  </table>

  <!-- <table mat-table
       [dataSource]="squads | active" multiTemplateDataRows
       class="mat-elevation-z8"  >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Squad </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="leader">
    <th mat-header-cell *matHeaderCellDef> Leader </th>
    <td mat-cell *matCellDef="let element"> {{element.leader!.username}} </td>
  </ng-container>
  <ng-container matColumnDef="numActiveGoals">
    <th mat-header-cell *matHeaderCellDef> Active Goals </th>
    <td mat-cell *matCellDef="let element"> {{(element.goals | activeGoals).length}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

   Expanded Content Column - The detail row is made up of this one column that spans across all columns
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
      <div>
        <table class="border-top" style="text-align: center">
          <thead>
            <tr>
              <th>Goal</th>
              <th>Description</th>
              <th>Completed</th>
              <th>Due Date</th>
              <th>Creator</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let goal of element.goals | activeGoals | goalUser:loggedIn">
              <td class="px-3">{{goal.title}}</td>
              <td class="px-3">{{goal.description}}</td>
              <td class="px-3">{{goal.completed}}</td>
              <td class="px-3">{{goal.endDate}}</td>
              <td class="px-3">{{goal.creator.username}}</td>
              <td><mat-icon (click)="updateGoal = true; goalToUpdate = goal; squadToEditId = element.id">edit</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
class="example-element-row"
[class.example-expanded-row]="expandedElement === element"
(click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table> -->

<button class="btn btn-success" (click)="addSquad = true">Add Squad</button>
</div>

<!-- single squad view -->
<div *ngIf="selectedSquad && !editSquad && !selectedMember">
  <table>
    <tr><td>{{selectedSquad.name}}</td></tr>
    <tr><td>About Us: {{selectedSquad.bio}}</td></tr>
    <tr><td>Squad Leader: {{selectedSquad.leader!.username}}</td></tr>
    <tr><td>Members:</td></tr>
    <tr *ngFor="let user of selectedSquad.users"><td (click)="selectMember(user.username)" >{{user.username}}</td></tr>
  </table>
  <button class="btn btn-success" (click)="addmember = true">Add Members</button>
  <button class="btn btn-warning" (click)="editSquad = true">Edit</button>
  <button class="btn btn-danger" (click)="deleteSquad(selectedSquad.id)">Delete</button>
  <button class="btn btn-primary" (click)="displayTable()">Back</button>
</div>

<!-- <table mat-table
     [dataSource]="squads | active" multiTemplateDataRows
     class="mat-elevation-z8"  >
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Squad </th>
  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
</ng-container>
<ng-container matColumnDef="leader">
  <th mat-header-cell *matHeaderCellDef> Leader </th>
  <td mat-cell *matCellDef="let element"> {{element.leader!.username}} </td>
</ng-container>
<ng-container matColumnDef="numActiveGoals">
  <th mat-header-cell *matHeaderCellDef> Active Goals </th>
  <td mat-cell *matCellDef="let element"> {{(element.goals | activeGoals).length}} </td>
</ng-container>
<ng-container matColumnDef="expand">
  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
    </button>
  </td>
</ng-container> -->
<!-- add member to squad form -->
<div *ngIf="selectedSquad && addmember && !selectedMember">
  <form>
    <label>New Members User Name</label>
    <input type="text" name="userName" [(ngModel)]="userName">
    <button (click)="addMember(userName)"> Add Member</button>

  </form>
</div>

<!-- Create Squad Form -->
<div>
  <form #createNewSquadForm="ngForm" *ngIf="!selectedSquad && addSquad">
    <br>
    <label>Squad Name:</label>
    <input type="text" name="name" ngModel>
    <label *ngIf="!squadNameUnique" style="color:red">Squad name already taken</label>
    <br>
    <label>Squad Bio:</label>
    <input type="text" name="bio" ngModel>
    <br>
    <label>Squad Picture:</label>
    <input type="text" name="profilePic" [(ngModel)]="squadImage.url">
    <br>
    <button class="btn btn-success" (click)="checkSquadName(createNewSquadForm)">Submit</button>
    <button class="btn btn-primary" (click)="displayTable()">Back</button>
  </form>
</div>

<!-- update Squad Form -->
<div *ngIf="selectedSquad && editSquad">
  <form #updateSquadForm="ngForm">
    <br>
    <input type="hidden" name="id" [(ngModel)]="selectedSquad.id" ngModel>
    <label>Squad Name:</label>
    <input type="text" name="name" [(ngModel)]="selectedSquad.name" ngModel>
    <br>
    <label>Squad Bio:</label>
    <input type="text" name="bio" [(ngModel)]="selectedSquad.bio" ngModel>
    <br>

    <button class="btn btn-success" (click)="updateSquad(updateSquadForm, selectedSquad.id)">Submit</button>
    <button class="btn btn-primary" (click)="displayTable()">Back</button>


  </form>
</div>

<!-- Update Goal Form -->
<div>
  <form *ngIf="updateGoal">
    <label>Squad: </label>
    <select name="squad" id="squad" [(ngModel)]="squadToEditId">
      <option *ngFor="let squad of goalToUpdate.squads | active" [attr.selected]="squad.id == squadToEditId ? true : null">{{squad.name}}</option>
    </select><br>
    <label>Title: </label>
    <input type="text" name="title" [(ngModel)]="goalToUpdate.title"><br>
    <label>Description: </label>
    <textarea rows="2" cols="40" name="description" [(ngModel)]="goalToUpdate.description"></textarea><br>
    <label for="completed">Completed: </label><br>
    <input type="checkbox" id="completed" name="completed" [(ngModel)]="goalToUpdate.completed"/>
    <label>End Date: </label>
    <input type="datetime" name="endDate" [(ngModel)]="goalToUpdate.endDate"><br>
    <button (click)="doUpdateGoal(goalToUpdate); updateGoal = false;">Submit</button>
  </form>
</div>

<!-- {{squads | json}} -->
<!-- Member Profile -->
<div>

  <div class="container" *ngIf="selectedMember">
    <div class="row">
      <div class="col-sm-4 justify-content-center">
        <div class="row align-content-center">
          <img class="rounded-circle m-4 p-4" [src]="selectedMember.profilePic.url"/>
          <span>{{selectedMember.firstName}} {{selectedMember.lastName}}</span>
          <span>{{selectedMember.bio}}</span>
          <button (click)="selectedMember = null">Back</button>
        </div>
      </div>
    </div>

